@model ChangePasswordByAdminViewModel


<form asp-controller="UserManager" asp-action="ChangePasswordByAdmin" method="post">
    <div class="">
        <div class="modal-header" style="background-color:#0d9890; color:white; border-radius:5px 5px 0 0;">
            <button type="button" class="close pull-left" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">تغییر کلمه عبور - @ViewBag.FullName</h4>
        </div>

        <div style="margin-top:15px" class="modal-body">
            <!--NewPassword-->
            <div>
                <label asp-for="NewPassword" class="control-label col-md-3 col-xs-12"></label>
                <div class="col-md-9 col-xs-12">
                    <input asp-for="NewPassword" autocomplete="off" type="password" class="form-control " placeholder="رمز عبور جدید" />
                </div>
            </div>

            <!--ConfirmPassord-->
            <div>
                <label   style="margin-top:10px" asp-for="ConfirmNewPassword" class="control-label col-md-3 col-xs-12"></label>
                <div class="col-md-9 col-xs-12">
                    <input   style="margin-top:10px" asp-for="ConfirmNewPassword" autocomplete="off" type="password" class="form-control " placeholder="تکرار رمز عبور" />
                </div>
            </div>
        </div>
        <input asp-for="Id" value="@ViewBag.userId" class="hidden" />
            <div id="divmsg" class="col-md-12 col-xs-12 alert hidden " style="text-align:center; margin-top:20px">

            </div>
        <div class="modal-footer" style="text-align:left;">
            <button type="button" data-dismiss="modal" style="width:80px; margin-top:10px" class="btn btn-default">بازگشت</button>
            <a class="btn" id="btnok" style="color:white; background-color:#0d9890;margin-top:10px"> تغیر کلمه عبور </a>
        </div>
    </div>

</form>

<script>
    $("#btnok").on('click', function () {
        var newPass = $("#NewPassword").val();
        var confirmNewPass = $("#ConfirmNewPassword").val();

        if (newPass == "" || newPass == null) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('رمز عبور جدید وارد نشده است');
            return false;
        }
        if (confirmNewPass == "" || confirmNewPass == null) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('تکرار رمز عبور جدید وارد نشده است');
            return false;
        }
        if (newPass.length < 4 || newPass.length > 30) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('رمز عبور حداقل 4 کاراکتر و حداکثر 30 کاراکتر باید باشد');
            return false;
        }
        if (newPass != confirmNewPass) {
            $("#divmsg").removeClass('hidden').addClass('alert-danger').html('رمز عبور با تکرار آن یکسان نیست');
            return false;
        }

        $.ajax({
            type: "Post",
            url: '@Url.Action("ChangePassByAdmin","UserManager")',
            data: {
                'Id': $("#Id").val(),
                'NewPassword': newPass,
                'ConfirmNewPassword': confirmNewPass,
            }
        }).done(function (res) {
            if (res.status == 'ok') {
                $("#divmsg").removeClass('hidden').removeClass('alert-danger').addClass('alert-success').html('رمز عبور با موفقیت تغییر کرد');
            }
            else if (res.status == 'error') {
                 $("#divmsg").removeClass('hidden').addClass('alert-danger').html('در ثبت اطلاعات خطایی رخ داده است');
            }
        });
    });
</script>